*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nav_menu:#2c3e50;
    --bg_primary:#1abc9c;
    --bg_footer:#3a546d;
    --bg_cabin:#ba4b63;
    --bg_cake:#1ea4b6;
    --bg_circus:#140f0f;
    --bg_game:#1c83c1;
    --bg_safe:#0e38b5;
    --bg_sub:#ccb2a3;
}
.bg_prim{
    background-color: var(--bg_primary);
}
.bg_nav{
    background-color: var(--nav_menu);
}
.bg_footer{
    background-color: var(--bg_footer);
}
.bg_cabin{
    background-color: var(--bg_cabin);
}
.bg_cake{
    background-color: var(--bg_cake);  
}
.bg_circus{
    background-color: var(--bg_circus);
}
.bg_game{
    background-color: var(--bg_game);
}
.bg_safe{
    background-color: var(--bg_safe);
}
.bg_sub{
    background-color: var(--bg_sub);
}
.width100{
    width: 100%;
}
.font_40{
    font-size: 40px;
}
.font_20{
    font-size: 20px;
}
.star_font{
    font-size: 30px;
}
.white_text{
    color: white;
}
.line{
    display: inline-block;
    width: 20%;
    height: 1px;
    margin: 0 5px;
}
.white_line{
    border: 2px solid white;
}
.blue_line{
    border: 2px solid var(--nav_menu);
}
.border_bottom{
    border-bottom: 1px solid gray;
}
.blue{
    color: var(--nav_menu);
}
.header_height, .footer_bottom{
    height: 60px;
}
.col_height{
    height: 50px;
    margin: 5px 0;
}
.card_height{
    height: 400px;
}
.content_height{
    height: 350px;
    margin: 25px 0;
}
.avatar{
    width: 200px;
}
.portfolio_img{
    width: 100%;
    border-radius: 20px;
}
.about{
    margin-top: 20px;
}
.margin_b{
    margin-bottom: 0 !important; 
}
.border_circle{
    margin: 0 5px;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
}
.footer_link{
    text-decoration: none;
    color: var(--bg_primary);
}