*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg_yellow{
    background-color: var(--bs-yellow);
}
.bg_red{
    background-color: var(--bs-red);
}
.bg_blue{
    background-color: var(--bs-blue);
}
.bg_green{
    background-color: var(--bs-green);
}
.bg_purple{
    background-color: var(--bs-purple);
}
.col_height{
    height: 50px;
}
.card_height{
    height: 400px;
}
.content_height{
    height: 350px;
    margin: 25px 0;
}